#lokasi {
    width: 70%;
    margin: auto;
}
#lokasi h1{
    padding: 10px 0;
}
#lokasi h2{
    text-align: center;
}
#lokasi iframe {
    width: 100%;
    height: 500px;
}
#lokasi .baris1 {
    display: flex;
}
#lokasi .baris1 .kolom{
    margin: 20px;
    box-sizing: border-box;
}
#lokasi .baris1 .kolom p{
    text-align: justify;
}